Repository danielparks/htmlize: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo clippy, cargo doc, cargo fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=no"]
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: cargo clippy
        name: cargo clippy
        language: system
        entry: cargo clippy --all-targets --all-features
        files: (\.rs|Cargo\.toml)$
        pass_filenames: false
      - id: cargo doc
        name: cargo doc
        language: system
        entry: sh -c 'RUSTDOCFLAGS=-Dwarnings cargo doc --all-features --no-deps --document-private-items'
        files: \.rs$
        pass_filenames: false
      - id: cargo fmt
        name: cargo fmt
        language: system
        entry: cargo fmt --check
        files: (\.rs|rustfmt\.toml)$
        pass_filenames: false

README: fix typo and add qualifier to License section.
  README.md
Due: none

Pre-commit hook: fail on clippy warnings; check docs for whole workspace.
  .pre-commit-config.yaml
Due: none

Better examples in README and docs
  CHANGELOG.md
  README.md
  src/escape.rs
  src/lib.rs
  src/unescape.rs
Due: cargo clippy, cargo doc, cargo fmt

BROKEN: do not merge. testing.
  src/lib.rs
Due: cargo clippy, cargo doc, cargo fmt

Shorten crate short description
  Cargo.toml
  README.md
  src/lib.rs
Due: cargo clippy, cargo doc, cargo fmt

Improvements to `release.sh` and “Release” GitHub workflow.
  .github/workflows/release.yaml
  release.sh
Due: none

`release.sh`: Fix docs.rs links in README.md and run semver-checks.
  release.sh
Due: none

Use `typos` to check for spelling mistakes.
  .github/workflows/pr-checks.yaml
  .pre-commit-config.yaml
  .typos.toml
  CHANGELOG.md
  src/unescape.rs
Due: cargo clippy, cargo doc, cargo fmt

Pre commit: Exclude benchmark results for typo and line ending checks.
  .pre-commit-config.yaml
Due: none

Clean up `unescape` benchmarks
  benches/unescape.rs
  benches/util/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Re-wrap and clean up comments.
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

Use generics instead macros for internal unescaping code.
  benches/unescape.rs
  benches/unescape_iai.rs
  benches/util/mod.rs
  src/lib.rs
  src/unescape.rs
  src/unescape/internal.rs
  src/unescape/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Additional `unescape` tests.
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

Switch unescape context to use a `trait` instead of an `enum`.
  benches/unescape.rs
  benches/unescape_iai.rs
  benches/util/mod.rs
  src/unescape/internal.rs
  src/unescape/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Use backup iter rather than candidate iter.
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

Remove all `#[inline]` hints from inner unescape code for baseline.
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

Split out `find_longest_candidate()` function.
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

Use `memchr` to find `'&'` when unescaping.
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

Faster entity unescaping in phf (slow) mode
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

unescape<Phf>: only need to check candidates up to `BARE_ENTITY_MAX_LENGTH` bytes long.
  build.rs
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

CHANGELOG.md: add note about performance improvements for unescaping.
  CHANGELOG.md
Due: none

Fix `unescape_fast` build
  .github/workflows/pr-checks.yaml
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

Lints: remove string_to_string lint that was deprecated in Rust 1.91.
  Cargo.toml
Due: cargo clippy

Use `matchgen` slice matcher for better build times
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  src/lib.rs
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

WIP: Split `unescape` and `entities` features.
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  src/entities.rs
  src/lib.rs
  src/unescape/internal.rs
Due: cargo clippy, cargo doc, cargo fmt

WIP: various unescape strategies.
  Cargo.lock
  Cargo.toml
  benches/unescape.rs
  benches/unescape_iai.rs
  build.rs
  src/lib.rs
  src/unescape/internal.rs
  src/unescape/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Rename unescape benchmarks for future consistency.
  benches/unescape.rs
  benches/unescape_iai.rs
Due: cargo clippy, cargo doc, cargo fmt

Split `unescape` and `entities` features
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  benches/unescape.rs
  benches/unescape_iai.rs
  build.rs
  src/entities.rs
  src/lib.rs
  src/unescape/internal.rs
  src/unescape/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Test various unescape strategies.
  Cargo.lock
  Cargo.toml
  benches/unescape.rs
  benches/unescape_iai.rs
  build.rs
  src/lib.rs
  src/unescape/internal.rs
  src/unescape/mod.rs
Due: cargo clippy, cargo doc, cargo fmt
