Repository danielparks/htmlize: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo clippy, cargo doc, cargo fmt

cargo clippy:
  name: cargo clippy
  language: system
  entry: cargo clippy --all-targets --all-features
  pass_filenames: false

cargo doc:
  name: cargo doc
  language: system
  entry: sh -c 'RUSTDOCFLAGS=-Dwarnings cargo doc --all-features --no-deps --document-private-items'
  pass_filenames: false

cargo fmt:
  name: cargo fmt
  language: system
  entry: cargo fmt --check
  pass_filenames: false

Pre-commit hook: bump typos version.
  .pre-commit-config.yaml
Due: none

`prek auto-update`.
  .pre-commit-config.yaml
Due: none

Update actions and pre-commit checks to match other repos
  .github/dependabot.yml
  .github/workflows/dependabot-prek.yaml
  .pre-commit-config.yaml
Due: none

README.md: Add note about lack of LLM-created code.
  README.md
Due: none

Remove extra comma.
  build.rs
Due: cargo clippy, cargo doc, cargo fmt

Prevent `rg` from searching `target/`.
  .ignore
Due: none

`release.sh`: update to current version.
  release.sh
Due: none

Enable two new restriction lints and fix
  Cargo.toml
  src/unescape/internal.rs
  src/unescape/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Upgrade phf{,_codegen} to 0.13.1
  Cargo.lock
  Cargo.toml
  build.rs
Due: cargo clippy, cargo doc, cargo fmt

CHANGELOG.md: add security note about recent PR.
  CHANGELOG.md
Due: none

Make `REPLACEMENT_CHAR_BYTES` public again.
  src/unescape/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Release 1.1.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo clippy

Prepping CHANGELOG.md for development.
  CHANGELOG.md
Due: none

Use v1 of `danielparks/github-actions`.
  .github/workflows/release.yaml
Due: none

`pinact run -u`.
  .github/workflows/dependabot-prek.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/release.yaml
Due: none

Switch to scheduled workflow for `prek auto-update`
  .github/workflows/dependabot-prek.yaml
  .github/workflows/prek-auto-update.yaml
Due: none

Use `pinact`; set action update cooldown to 30 days.
  .github/dependabot.yml
  .github/workflows/release.yaml
  .pinact.yaml
Due: none

`cargo fmt`: enable unstable features to wrap comments.
  rustfmt.toml
  src/lib.rs
  src/unescape/internal.rs
  src/unescape/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

GitHub workflows: update to match matchgen
  .github/workflows/pr-checks.yaml
  .github/workflows/prek-auto-update.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
Due: none

GitHub workflows: add missing tests.
  .github/workflows/pr-checks.yaml
Due: none

`cargo deny`: ignore unsound crate only used in benchmarks
  deny.toml
Due: none

`release.sh`: fixes from matchgen
  release.sh
Due: none

Path conditions:
  cargo clippy: any of: (\.rs|Cargo\.toml)$
  cargo doc: any of: \.rs$
  cargo fmt: any of: (\.rs|rustfmt\.toml)$
